:root {
  --background-color-main: #e5e5e5;
  --background-color-group: #f8f8f8;
  --background-color-hover: #ddd;
  --background-color-table-even: #f0f0f0;
  --background-color-table-odd: var(--background-color-main);

  --content-margin: 10px;
  --content-padding: 10px;
  --content-width: 900px;
  --content-outline: 2px solid var(--background-color-main);
  --content-border-radius: 8px;
  --content-error-text-color: #ff4242;

  --font-color-high-emphasis: #000;
  --font-color-low-emphasis: #aaa;
  --font-family: Garamond, Arial, Helvetica, sans-serif;
  --font-size: 16px;
  --font-size-small: 12px;
  --font-size-header: 20px;
  --hover-text-color: rgb(0, 102, 204);

  --shadow-color: #5a5a5a88;
  --shadow-box: 4px 2px 4px var(--shadow-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-main: #121212;
    --background-color-group: #212121;
    --background-color-hover: #333;
    --background-color-table-even: #222;
    --background-color-table-odd: var(--background-color-main);
    --content-outline: 2px solid var(--background-color-main);
    --font-color-high-emphasis: rgba(255, 255, 255, 0.87);
    --font-color-low-emphasis: rgba(255, 255, 255, 0.38);
    --shadow-color: #0084dd88;
    /* Dark mode shadow box adds a glow effect */
    --shadow-box: 2px  0px 8px var(--shadow-color),
                 -2px  0px 8px var(--shadow-color),
                  0px  2px 8px var(--shadow-color),
                  0px -2px 8px var(--shadow-color);
  }
}

body {
  color: var(--font-color-high-emphasis);
  background-color: var(--background-color-main);
  font-family: var(--font-family);
  font-size: var(--font-size);
  height: 100%;
  margin:0;
  min-width: fit-content;
  padding:0;
  width: 100%;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.8rem;
  letter-spacing: 1px;
  table-layout: fixed;
  position: relative;
}
tbody {
  overflow-y: scroll;
}
th, td {
  border: 1px solid rgb(190,190,190);
  padding: 10px 10px;
}
th {
  background-color: var(--background-color-main);
  position: sticky;
  top: 0;
  z-index: 1;
}
td {
  min-height: 50px;
  text-align: center;
}
tr:hover {
  background-color: var(--background-color-hover);
}
th:nth-child(1), td:nth-child(1) {
  width: 15%;
}
th:nth-child(2), td:nth-child(2) {
  width: 25%;
}
th:nth-child(3), td:nth-child(3) {
  width: 20%;
}
th:nth-child(4), td:nth-child(4) {
  width: 10%;
}
th:nth-child(5), td:nth-child(5) {
  width: 10%;
}
th:nth-child(6), td:nth-child(6) {
  width: 10%;
}
th:nth-child(7), td:nth-child(7) {
  width: 10%;
}
.table-wrapper {
  background-color: var(--background-color-main);
  border: 2px solid rgb(200,200,200);
  height: 600px;
  margin: var(--content-margin);
  overflow-y: scroll;
}
.disable-scrollbars::-webkit-scrollbar {
  background: transparent;
  width: 0px;
}
.disable-scrollbars {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hidden-reading {
  border: none;
  display: none;
  margin: 0;
  padding: 0;
}

.content-center {
  width: var(--content-width);
  align-items: center;
}
.content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-group {
  display: flex;
  flex-direction: column;
  margin: var(--content-margin);
}
.content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-header);
  height: 40px;
  padding: calc(var(--content-padding) * 0.5);
}
.content-body {
  background-color: var(--background-color-group);
  border-radius: var(--content-border-radius);
  box-shadow: var(--shadow-box);
  display: flex;
  flex-direction: column;
}
.content-item {
  align-items: center;
  display: flex;
  height: 45px;
  justify-content: space-between;
  margin: var(--content-padding);
}
.content-item-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
  width: 55%;
}
.content-item-right {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 8px;
  width: 35%;
}
.content-item-cell {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}
.content-item-hint {
  color: var(--font-color-low-emphasis);
}
.content-item-hidden-text {
  display: none;
}


#table-group .content-item {
  justify-content: space-around;
}
#table-group .content-item span {
  text-align: center;
}
#anki-config:hover {
  background-color: var(--background-color-hover);
  cursor: pointer;
}