:root {
  --background-color-main: #e5e5e5;
  --background-color-group: #f8f8f8;
  --background-color-table-even: #f0f0f0;
  --background-color-table-odd: var(--background-color-main);

  --content-margin: 10px;
  --content-padding: 10px;
  --content-width: 900px;
  --content-outline: 2px solid var(--background-color-main);
  --content-border-radius: 8px;
  --content-hint-text-color: #aaa;
  --content-error-text-color: #ff4242;

  --font-color: #000000;
  --font-family: Garamond, Arial, Helvetica, sans-serif;
  --font-size: 16px;
  --font-size-small: 12px;
  --font-size-header: 20px;
  --hover-text-color: rgb(0, 102, 204);

  --shadow-color: #5a5a5a88;
  --shadow-box: 4px 2px 4px var(--shadow-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-main: #1b1b1b;
    --background-color-group: #3a3a3a;
    --background-color-table-even: #222222;
    --background-color-table-odd: var(--background-color-main);
    --content-outline: 2px solid var(--background-color-main);
    --font-color: #cccccc;
    --shadow-color: #0084dd88;
    /* Dark mode shadow box adds a glow effect */
    --shadow-box: 2px  0px 8px var(--shadow-color),
                 -2px  0px 8px var(--shadow-color),
                  0px  2px 8px var(--shadow-color),
                  0px -2px 8px var(--shadow-color);
  }
}

body {
  color: var(--font-color);
  background-color: var(--background-color-main);
  font-family: var(--font-family);
  font-size: var(--font-size);
  height: 100%;
  margin:0;
  min-width: fit-content;
  padding:0;
  width: 100%;
}
table {
  border: 2px solid rgb(200,200,200);
  border-collapse: collapse;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: var(--content-margin);
}
tbody {
  overflow-y: scroll;
}
td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 10px;
}
th {
  background-color: var(--background-color-main);
}
td {
  text-align: center;
}
tr:nth-child(even) td {
  background-color: var(--background-color-table-even);
}
tr:nth-child(odd) td {
  background-color: var(--background-color-table-odd);
}
caption {
  padding: 10px;
}

.button {
  margin: auto;
  padding: 2px;
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}
.content-center {
  width: var(--content-width);
  align-items: center;
}
.content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-group {
  display: flex;
  flex-direction: column;
  margin: var(--content-margin);
}
.content-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-header);
  height: 40px;
  padding: calc(var(--content-padding) * 0.5);
}
.content-body {
  background-color: var(--background-color-group);
  box-shadow: var(--shadow-box);
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: var(--content-border-radius);
}
.content-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: var(--content-padding);
}
.content-item-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
}
.content-item-right {
  align-items: center;
  display: flex;
  justify-content: center;
  width: auto;
}
.content-item-hint {
  color: var(--content-hint-text-color);
}
.content-item-hidden-text {
  display: none;
}
/* Fixes 1px-wide outlines so they overlap rather than doubling */
div.content-item + div.content-item {
  border-top: var(--content-outline);
}