:root {
    --content-margin: 10px;
    --content-padding: 10px;
    --content-width: 900px;
    --content-outline: 1px solid lightgray;
    --content-border-radius: 3px;

    --background-color-main: #dddddd;
    --background-color-group: #f8f8f8;
    --hover-background-color: #999999;
    --hover-text-color: rgb(0, 102, 204);

    --shadow-color: #5a5a5a88;
    --shadow-right-down: 4px 2px 4px var(--shadow-color);

    --font-size: 14px;
    --font-size-small: 12px;
    --font-size-header: 20px
}

/*
 * Modified code from https://www.w3schools.com/howto/howto_css_switch.asp
 * made to better fit my web page
 */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 10px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
    box-shadow: 0 0 5px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* CSS */
.button-pretty {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Garamond, Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 30px;
  padding: 3px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
.button-pretty:active,
.button-pretty:hover {
  outline: 0;
}
.button-pretty span {
  background-color: rgb(5, 6, 45);
  padding: 10px 10px;
  border-radius: 6px;
  width: inherit;
  height: inherit;
  transition: 300ms;
}
.button-pretty:hover span {
  background: none;
}
.button-wrapper {
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}