/*
 * Modified code from https://www.w3schools.com/howto/howto_css_switch.asp
 * made to better fit my web page
 */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 10px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196F3;
  box-shadow: 0 0 5px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.button-pretty {
  align-items: center;
  background-image: linear-gradient(135deg,#787878, #0084dd,#b7dcf5);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: var(--font-color-high-emphasis);
  cursor: pointer;
  display: flex;
  font-family: Garamond, Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 30px;
  padding: 3px;
  position: relative;
  text-decoration: none;
  user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  -webkit-user-select: none;
}
.button-pretty:active,
.button-pretty:hover {
  outline: 0;
}
.button-pretty span {
  background-color: var(--background-color-main);
  padding: 10px 10px;
  border-radius: 6px;
  width: inherit;
  height: inherit;
  transition: 300ms;
}
.button-pretty:hover span {
  background: none;
}
.button-wrapper {
  border: 0px;
  margin: 0px;
  padding: 0px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
}
/* Makes sure buttons in the table don't resize */
td button.button-pretty > span {
  font-size: 2rem;
  padding: 5px 5px;
}

.text-input {
  background-color: var(--background-color-main);
  color: var(--font-color-high-emphasis);
  border: none;
  border-radius: 3px;
  font-family: var(--font-family);
  font-size: var(--font-size);
  width: 100%;
  height: 1.5em;
}
th .text-input {
  background-color: var(--background-color-group);
  font-size: inherit;
  width: 80%;
}
th .text-input::placeholder {
  color: var(--font-color-low-emphasis);
}
th .text-input, th .switch {
  margin-top: 5px;
}

svg.border-horizontal {
  height: 3px;
  width: 95%;
}
svg.border-vertical {
  height: 95%;
  width: 3px;
}
svg > rect {
  fill: var(--background-color-main);
}
svg > rect.content-border-horizontal {
  height: inherit;
  width: 100%;
}
svg > rect.content-border-vertical {
  height: 100%;
  width: inherit;
}
.content-border-wrapper {
  align-items: center;
  display: flex;
  height: inherit;
  justify-content: center;
  width: inherit;
}

/* .symbol-wrapper {
  align-items: center;
  display: flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}

The + sign for buttons (maybe)
.add-symbol {
  --dimensions: 20px;
  --thickness: 3px;
  background: white;
  height: var(--dimensions);
  position: relative;
  width: var(--thickness);
}
.add-symbol::after {
  background: white;
  content: "";
  height: var(--thickness);
  left: calc((var(--thickness) - var(--dimensions)) / 2);
  position: absolute;
  top: calc((var(--dimensions) - var(--thickness)) / 2);
  width: var(--dimensions);
}

The check mark for already-added words/buttons (also maybe)
.checkmark {
  --width: 15px;
  --height: var(--width);
  --thickness: 3px;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  background: none;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark:before{
  content:"";
  position: absolute;
  width: var(--thickness);
  height: var(--height);
  background-color:#5e7900;
  left: calc((var(--width) - var(--thickness)) / 2);
  top: 0px;
}

.checkmark:after{
  content:"";
  position: absolute;
  width: calc(var(--width) / 2);
  height: var(--thickness);
  background-color:#5e7900;
  left: 0px;
  top: calc(var(--width) - var(--thickness));
} */