html, body {
    width: 85px;
}

.hidden {
    display: none;
}

.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
}

.action-open-db:hover {
    background-color: #CFF2F2;
}

.action-open-db {
    background-color: #E5F2F2;
}
